.department-links {
  top: 45px;
}

.department-links > div {
  width: max-content;
}

.department-links div:hover {
  background-color: #f8f9fa;
  transition: 0.3s;
}

.menu-links {
  top: 45px;
  right: 10px;
  width: 200px;
}

.menu-links a:hover {
  background-color: #f8f9fa;
  transition: 0.3s;
}
