<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Starclasses</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
	<link rel="stylesheet" href="public/css/header.css" />
</head>

<body>
	<!-- <header></header> -->

	<main class="min-vh-100 bg-light">
		<div class="contaier-fluid bg-primary py-4">
			<div class="container d-flex justify-content-around">
				<div class="d-flex flex-column align-items-center">
					<div
						class="rounded-circle bg-white d-flex justify-content-center align-items-center border border-5 border-info"
						style="width: 40px; height: 40px">
						1
					</div>
					<div class="text-white">Thông tin</div>
				</div>
				<div class="d-flex flex-column align-items-center">
					<div
						class="rounded-circle bg-white d-flex justify-content-center align-items-center border border-5 border-info"
						style="width: 40px; height: 40px">
						2
					</div>
					<div class="text-white">Thanh toán</div>
				</div>
				<div class="d-flex flex-column align-items-center">
					<div
						class="rounded-circle bg-white d-flex justify-content-center align-items-center border border-5 border-info"
						style="width: 40px; height: 40px">
						3
					</div>
					<div class="text-white">Vào học</div>
				</div>
			</div>
		</div>
		<div class="container my-3">
			<div class=" row">
				<div class="fs-5 my-3">CHỌN PHƯƠNG THỨC THANH TOÁN
				</div>
				<div class="col-8">
					<div class="bg-white shadow-sm p-3 rounded">
						<div class="border-bottom d-flex align-items-center py-2">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="checkout-method" id="flexRadioDefault1">
							</div>
							<div class="flex-fill ps-2">
								<div class="fw-bold">Chuyển khoản ngân hàng</div>
								<div> Ngay sau khi nhận được thanh toán, Unica sẽ gửi mã kích hoạt vào email và SMS của bạn. </div>
							</div>
							<div style="width: 55px;">
								<img class="img-fluid" src="https://unica.vn/images/credit-card.svg" alt="">
							</div>
						</div>
						<div class="border-bottom d-flex align-items-center py-2">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="checkout-method" id="flexRadioDefault1">
							</div>
							<div class="flex-fill ps-2">
								<div class="fw-bold">Chuyển khoản ngân hàng</div>
								<div> Ngay sau khi nhận được thanh toán, Unica sẽ gửi mã kích hoạt vào email và SMS của bạn. </div>
							</div>
							<div style="width: 55px;">
								<img class="img-fluid" src="https://unica.vn/images/credit-card.svg" alt="">
							</div>
						</div>
						<div class="border-bottom d-flex align-items-center py-2">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="checkout-method" id="flexRadioDefault1">
							</div>
							<div class="flex-fill ps-2">
								<div class="fw-bold">Chuyển khoản ngân hàng</div>
								<div> Ngay sau khi nhận được thanh toán, Unica sẽ gửi mã kích hoạt vào email và SMS của bạn. </div>
							</div>
							<div style="width: 55px;">
								<img class="img-fluid" src="https://unica.vn/images/credit-card.svg" alt="">
							</div>
						</div>
						<div class="border-bottom d-flex align-items-center py-2">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="checkout-method" id="flexRadioDefault1">
							</div>
							<div class="flex-fill ps-2">
								<div class="fw-bold">Chuyển khoản ngân hàng</div>
								<div> Ngay sau khi nhận được thanh toán, Unica sẽ gửi mã kích hoạt vào email và SMS của bạn. </div>
							</div>
							<div style="width: 55px;">
								<img class="img-fluid" src="https://unica.vn/images/credit-card.svg" alt="">
							</div>
						</div>
						<div class="border-bottom d-flex align-items-center py-2">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="checkout-method" id="flexRadioDefault1">
							</div>
							<div class="flex-fill ps-2">
								<div class="fw-bold">Chuyển khoản ngân hàng</div>
								<div> Ngay sau khi nhận được thanh toán, Unica sẽ gửi mã kích hoạt vào email và SMS của bạn. </div>
							</div>
							<div style="width: 55px;">
								<img class="img-fluid" src="https://unica.vn/images/credit-card.svg" alt="">
							</div>
						</div>
						<button type="submit" class="btn btn-primary w-100 mt-3">Thanh toán</button>
					</div>
				</div>
				<div class="col-4">
					<div class="bg-white shadow-sm p-3 rounded">
						<div class="d-flex justify-content-between border-bottom">
							<div>Đơn hàng</div>
							<a class="btn"><i class="bi bi-pencil-square"></i> Sửa</a>
						</div>
						<div class="row py-3 border-bottom">
							<div class="col-8">Chinh phục Tiếng Trung thật đơn giản</div>
							<div class="col-4 text-end">
								<div>149,000đ</div>
								<div><del>600,000đ</del></div>
							</div>
						</div>
						<div class="row py-3 border-bottom">
							<div class="col-8">Chinh phục Tiếng Trung thật đơn giản</div>
							<div class="col-4 text-end">
								<div>149,000đ</div>
								<div><del>600,000đ</del></div>
							</div>
						</div>
						<div class="row pt-3 fw-bold">
							<div class="col-8">Thành tiền</div>
							<div class="col-4 text-end text-danger">
								<div>149,000đ</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- <footer></footer> -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>